* {
  box-sizing: border-box;
}
body {
  font-family: "Lexend", sans-serif;
  margin: 0;
}

/*Box model*/
#product-overview {
  background: url("./freedom.jpg");
  padding: 10px;
  height: 500px;

  /* height cannot be set in % because its the given height 
    by the parent ie main area */
}

#product-overview h1 {
  color: ivory;
  font-family: "PT Sans Narrow", sans-serif;
}

/*But this will override*/
h1 {
  color: purple;
}

/*Class override the h1 selector*/
.section-title {
  color: #2ddf5c;
  font-size: inherit;
}

.main-header {
  background-color: cornflowerblue;
  width: 100%;
  padding: 8px 16px;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  color: purple;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background-color: white;
  border: none;
}

/* 
.main-nav__item a::after{
   content: "(Link)";
   color: crimson;
} */

.main-nav {
  text-align: right;
  display: inline-block;
  width: calc(100% - 100px);
  vertical-align: middle;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  text-decoration: none;
  font-weight: bold;
  color: purple;
  font-size: 22px;
}

/* p::first-letter{
  color: red;
  font-size: 40px;
} */
