* {
  box-sizing: border-box;
}
body {
  font-family: "Lexend", sans-serif;
  margin: 0;
}

/*Box model*/
#product-overview {
  background: url("./freedom.jpg");
  padding: 10px;
  height: 500px;

  /* height cannot be set in % because its the given height 
    by the parent ie main area */
}

#product-overview h1 {
  color: ivory;
  font-family: "PT Sans Narrow", sans-serif;
}

/*But this will override*/
/* h1 {
  color: purple;
} */

/*Class override the h1 selector*/
.section-title {
  color: #2ddf5c;
  font-size: 22px;
  text-align: center;
}

.main-header {
  background-color: cornflowerblue;
  width: 100%;
  padding: 8px 16px;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  color: purple;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background-color: white;
  border: none;
}

/* 
.main-nav__item a::after{
   content: "(Link)";
   color: crimson;
} */

.main-nav {
  text-align: right;
  display: inline-block;
  width: calc(100% - 100px);
  vertical-align: middle;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  text-decoration: none;
  font-weight: bold;
  color: purple;
  font-size: 22px;
}

.plan {
  display: inline-block;
  background-color: #d5ffdc;
  padding: 16px;
  margin: 8px;
  width: 30%;
  vertical-align: middle;
  text-align: center;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #444242;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__features li {
  margin: 8px 0;
}

.button{
  background: #0e4f1f ;
  color:white;
  font: inherit;
  /*The inherit keyword specifies that a property should inherit its value from its parent element.*/
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;

}

.button:hover,
.button:active{
    background: white;
    color: #0e4f1f ;
}

.button:focus{
  outline:none;
}

#key-features{
  background-color: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title{
  color: white;
  margin: 32px;
}

.key-features__list{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

.key-feature{
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.key-feature__image{
  background-color: #ffcede;
  width: 120px;
  height: 120px;
  border: 2px solid #444242;
  border-radius: 50%;
  margin: auto;
}
.key-feature__description{
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 20px;
}
/* p::first-letter{
  color: red;
  font-size: 40px;
} */
