* {
  box-sizing: border-box;
}
body {
  font-family: "Lexend", sans-serif;
  margin: 0;
}

.main-footer {
  background-color: black;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #444242;
}
.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  /*The inherit keyword specifies that a property should inherit its value from its parent element.*/
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

.main-header {
    background-color: cornflowerblue;
    width: 100%;
    padding: 8px 16px;
  }
  
  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-nav__item {
    display: inline-block;
    margin: 0 16px;
  }
  
  .main-nav__item a {
    color: purple;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
  }
  
  .main-nav__item a:hover,
  .main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
  }
  
  .main-nav__item--cta a {
    color: white;
    background-color: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
  }
  .main-nav__item--cta a:hover,
  .main-nav__item--cta a:active {
    color: #ff1b68;
    background-color: white;
    border: none;
  }
  
  /* 
  .main-nav__item a::after{
     content: "(Link)";
     color: crimson;
  } */
  
  .main-nav {
    text-align: right;
    display: inline-block;
    width: calc(100% - 100px);
    vertical-align: middle;
  }
  
  .main-header > div {
    display: inline-block;
    vertical-align: middle;
  }
  
  .main-header__brand {
    text-decoration: none;
    font-weight: bold;
    color: purple;
    font-size: 22px;
  }
  