/* .plan__cards{
    display: inline-block;
    width: 80%;
    background-color: #d5ffdc;
    border: 2px solid black;
    padding: 16px;
    margin: 16px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.premium_card{
    background-color: #0e4f1f;
}

.plan-card__links{
    text-decoration: none;
    font-family: inherit;
}

.premium_card .plan-card__links{
    color: white;
}

.banner-heading{
    font-weight: normal;
    font-size: 16px;
    color: rgb(83, 42, 180);
}

.premium_card .banner-heading{
    color: white;
}

.plan-description{
    display: inline-block;
    background-color: white;
    padding: 16px;
    border:1px solid black;
}

.premium_card .plan-description{
    color: black;
} */

main{
    padding-top: 32px;
}

.plan__cards{
    width: 80%;
    margin:16px 0;
    border: 4px solid #0e4f1f;
    border-left: none;
}

.plan__cards:hover,
.plan__cards:active{
    box-shadow:2px 2px 4px rgba(0,0,0,0.5);
    border-color: red;
}

.plan__cards a{
    text-decoration: none;
    color:inherit;
    display: block;
    padding: 32px;
}

.banner-heading{
   color:#979797;

}

.plan-description{
    padding: 16px;
    border:1px solid #0e4f1f;
    font-size: 20px;
    color:#0e4f1f;
    background-color: white;
}

#plus{
    background-color:rgba(213,255,220,0.95);
}

#free{
    background-color: rgba(234,252,237,0.95);
    float:right;
    border-left: 4px solid #0e4f1f;
    border-right:none;
    text-align: right;
}

#free:hover,
#free:active{
    box-shadow:2px 2px 4px rgba(0,0,0,0.5);
    border-color: red;
}

#premium{
    background-color: rgba(14,79,31,0.95);
    color: white;
}

#premium .banner-heading{
    color: #bbb;
}

.clear-fix{
    clear: both;
}

.background{
    background: url('plans-background.jpg');
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

}